.categorias {
	padding: 5rem 0;
}

.categoria {
	margin-bottom: 2rem;
	img {
		width: 100%;
	}
	a {
		text-align: center;
		display: block;
		padding: 2rem;
		font-size: 2rem;
		&:hover {
			background-color: #037bc0;
			color: #FFFFFF;
			border-bottom-right-radius: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.categoria {
		margin-bottom: 0;
	}
	.listado-categorias {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}
